[submodule "unreal-cpp-net-fps/Plugins/Ecsact"]
	path = unreal-cpp-net-fps/Plugins/Ecsact
	url = https://github.com/ecsact-dev/ecsact_unreal
	branch = main
[submodule "unreal-cpp-net-fps/Plugins/EcsactNet"]
	path = unreal-cpp-net-fps/Plugins/EcsactNet
	url = https://github.com/seaube/ecsact-net-unreal
	branch = main
[submodule "unreal-cpp-benchmark/Plugins/Ecsact"]
	path = unreal-cpp-benchmark/Plugins/Ecsact
	url = git@github.com:ecsact-dev/ecsact_unreal.git
